<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tedystoreapp.ayatulkhirzialfatahtemboronewapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DetailActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".DetailLocalActivity"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".TentangActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".TasbehdigitalActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SurahyasinActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AyatulkhirziActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".SplashscreenActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity,LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobappid" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/sdk_key_applovin" />
    </application>

</manifest>